@import "tailwindcss";
@plugin "daisyui";

/* Change Your Plugin As You Want 
for more information, visit https://daisyui.com/theme-generator/ */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1C7245;
  --color-primary-dark: #193D33;
  --color-accent-dark: #31572C;
  --color-accent: #4F772D;
  --color-accent-light: #90A955;
  --color-highlight: #ECF39E;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
}

@theme inline {
  --font-sans: var(--font-inter);
  --color-accent-dark: var(--color-accent-dark);
  --color-highlight: var(--color-highlight);
  --color-primary-dark: var(--color-primary-dark);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}


/* Tambahkan ini untuk kelas gradient text */
.text-gradient-highlight {
  background: linear-gradient(90deg, #FFFFFF 0%, var(--color-highlight) 55%, #FFFFFF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}